@font-face {
    font-family: "Atami";
    font-display: swap;
    src: url("/Atami-Bold.otf");
}

@font-face {
    font-family: "SangoStatic";
    font-display: swap;
    src: url("/SangoStatic.otf");
}