@keyframes marquee {
	from {
		transform: translateX( 0% );
	}

	to {
		transform: translateX( -100% );
	}
}

@keyframes marquee-vertical {
    from {
        transform: translateY( 0% );
    }

    to {
        transform: translateY( -100% );
    }
}

.marquee {
    animation-duration: 8s ;
    animation-iteration-count: infinite ;
    animation-name: marquee;
    animation-timing-function: linear ;
}

.marquee-vert {
    animation-duration: 8s ;
    animation-iteration-count: infinite ;
    animation-name: marquee-vertical;
    animation-timing-function: linear ;
}